.wp-block-acf-shp-adb-list-default {
	// Nested duplicate HTML in the editor
	.wp-block-acf-shp-adb-list-default {
		--block--padding-top: 0;
		--block--padding-bottom: 0;
		--block--padding-left: 0;
		--block--padding-right: 0;
	}
}
