.wp-block-shp-gantrisch-adb-offer-documents {
	.wp-block-shp-gantrisch-adb-offer-documents {
		&__entries {
			--shb-offer-detail-link-color: var(--e-global-color-accent);
		}

		&__entry {
			font-size: 1.875rem;
			line-height: calc(36 / 30);
		}
	}

	&.has-text-color {
		.c-message {
			color: inherit;
		}
	}

	&.has-background {
		.c-message {
			background-color: inherit;
		}
	}
}
