.wp-block-shp-gantrisch-adb-offer-map {
	background-color: var(--wp--preset--color--softgrey);

	&.alignwide {
		padding: 0 1rem;
		max-width: 77.5rem;

		@media screen and (min-width: 80em) {
			padding: 0;
		}
	}

	&__iframe {
		min-height: 65rem;
	}
}
