.wp-block-shp-gantrisch-adb-offer-map {
	--adb--single-map--height: 583px;
	--adb--single-map--routes-height: 230px;

	background-color: var(--wp--preset--color--softgrey);

	&.alignwide {
		padding: 0 1rem;
		max-width: 77.5rem;

		@media screen and (min-width: 80em) {
			padding: 0;
		}
	}

	&__iframe {
		min-height: var(--adb--single-map--height);

		&--route {
			min-height: calc(var(--adb--single-map--height) + var(--adb--single-map--routes-height));
		}
	}
}
