.wp-block-shp-gantrisch-adb-offer-map {
	background-color: var(--wp--preset--color--softgrey);

	&.alignwide {
		padding: 0;
	}

	&__iframe {
		min-height: 80vh;

		@media screen and (min-height: 48em) {
			min-height: 60vh;
		}
	}
}
