.c-adb-list {
	--block--inner-stack-size: 60px;

	--block--entries-column-gap: var(--wp--custom--spacing--unit, 1rem);
	--block--entries-row-gap: 1.5rem;

	--block--entry-background: var(--wp--preset--color--white);
	--block--entry-padding-top: 24px;
	--block--entry-padding-right: 0;
	--block--entry-padding-bottom: 0;
	--block--entry-padding-left: 30px;

	--block--entry-button-background: var(--wp--preset--color--dark);
	--block--entry-button-color: var(--wp--preset--color--white);
	--block--entry-button-line-height: 1;
	--block--entry-button-padding: 0.5em 0.875em;
	--block--entry-button-size: 16px;
	--block--entry-button-weight: 500;

	--block--entry-header-padding: 0 10px 0 0;
	--block--entry-header-sibling-offset: 12px;
	--block--entry-header-transition: all 300ms ease;
	--block--entry-header-margin-bottom: 14px;

	--block--entry-meta-color: var(--wp--preset--color--petrol);
	--block--entry-meta-line-height: calc(14 / 12);
	--block--entry-meta-size: 12px;
	--block--entry-meta-weight: 500;

	--block--entry-title-line-height: 1.222222;
	--block--entry-title-size: 18px;
	--block--entry-description-size: 16px;
	--block--entry-description-line-height: 1.5;
	--block--entry-title-weight: 700;

	--block--entry-postit-font-size: 16px;
	--block--entry-postit-line-height: 1;
	--block--entry-postit-padding: 4.5px 7px 3.5px;
	--block--entry-postit-spacing: 10px;

	--block--entry-hint-color: inherit;
	--block--entry-hint-background-color: var(--wp--preset--color--softgrey);

	--block--entry-parkpartner-color: inherit;
	--block--entry-parkpartner-background-color: var(--e-global-color-accent);

	--block--entry-parkevent-color: var(--wp--preset--color--white);
	--block--entry-parkevent-background-color: var(--e-global-color-primary);

	--block--loadbutton-padding: var(--wp--custom--spacing--unit, 1rem);
	--block--loadbutton-background: var(--wp--preset--color--white);
	--block--loadbutton-border: none;
	--block--loadbutton-color: var(--wp--preset--color--petrol);
	--block--loadbutton-line-height: calc(32 / 26);
	--block--loadbutton-size: 26px;
	--block--loadbutton-weight: 500;

	--block--padding-left: var(--block--entries-column-gap);
	--block--padding-right: var(--block--entries-column-gap);

	--block--padding-top: 0;
	--block--padding-bottom: 0;

	&.has-background {
		--block--padding-top: var(--block--entries-row-gap);
		--block--padding-bottom: var(--block--entries-row-gap);
	}

	@media screen and (min-width: 80em) {
		--block--entries-column-gap: 50px;
		--block--entries-row-gap: 50px;
	}

	padding: var(--block--padding-top) var(--block--padding-right) var(--block--padding-bottom) var(--block--padding-left);

	>* {
		margin-top: 0;
		margin-bottom: 0;

		&+* {
			margin-top: var(--block--entries-row-gap);
		}
	}

	&__entries {
		list-style: none;
		gap: var(--block--entries-row-gap);
		padding: 0;
		display: flex;
		flex-direction: column;

		@media screen and (min-width: 48rem) {
			display: grid;
			gap: var(--block--entries-column-gap) var(--block--entries-row-gap);
			grid-template-columns: repeat(3, minmax(0, 1fr));
		}

		@media screen and (min-width: 80rem) {
			grid-template-columns: repeat(4, minmax(0, 1fr));
		}

		#offer_total {
			display: none;
		}
	}

	.c-adb-list {
		&__entry {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			position: relative;
			hyphens: auto;
			word-break: break-word;
			background-color: var(--block--entry-background);
			padding: var(--block--entry-padding-top) var(--block--entry-padding-right) var(--block--entry-padding-bottom) var(--block--entry-padding-left);
			transition: all 300ms ease;
			@extend .h-stack;
			--stack-size: 20px;
			border: none;

			&.is--hidden {
				body.page & {
					display: none;
					max-height: 0;
					overflow: hidden;
				}
			}

			>* {
				margin-top: 0;
				margin-bottom: 0;
			}

			&-button {
				display: inline-block;
				text-decoration: none !important;
				padding: var(--block--entry-button-padding);
				color: var(--block--entry-button-color) !important;
				background-color: var(--block--entry-button-background) !important;
				font-size: var(--block--entry-button-size) !important;
				line-height: var(--block--entry-button-line-height) !important;
				font-weight: var(--block--entry-button-weight) !important;
			}

			&-buttonwrapper {
				padding-block-start: 0;
				margin-block-start: auto;
				text-align: right;
				--stack-size: 0;
			}

			&-figure {
				margin-left: 0;
				margin-right: 0;
				height: 0;
				padding-bottom: percentage(calc(2 / 3));
				overflow: hidden;

				@supports (aspect-ratio: 3/2) {
					height: auto;
					padding-bottom: 0;
					aspect-ratio: 3/2;
				}

				&--empty {
					background-color: rgba(0, 0, 0, 0.1);
				}
			}

			&-floodlink {
				position: absolute;
				top: 0;
				left: 0;
				bottom: 0;
				right: 0;
				z-index: 1;
				text-indent: -999rem;
				font-size: 0;
			}

			&-header {
				padding: var(--block--entry-header-padding);
				margin-block-end: var(--block--entry-header-margin-bottom);
				transition: var(--block--entry-header-transition);

				>* {
					margin-top: 0;
					margin-bottom: 0;

					&+* {
						margin-top: var(--block--entry-header-sibling-offset);
					}
				}
			}

			&-image {
				@supports (aspect-ratio: 3/2) {
					object-fit: cover;
					width: 100% !important;
					height: 100% !important;
				}
			}

			&-meta {
				font-size: var(--block--entry-meta-size);
				line-height: var(--block--entry-meta-line-height);
				font-weight: var(--block--entry-meta-weight);
				color: var(--block--entry-meta-color);

				>* {
					margin-top: 0;
					margin-bottom: 0;
				}

				strong {
					font-weight: inherit;
				}

				&+.c-adb-list__entry-meta {
					margin-top: 0.5em;
				}
			}

			&-postit-wrapper {
				position: absolute;
				top: 0;
				transform: translateY(-50%);
				pointer-events: none;
				font-weight: 500;
				font-size: var(--block--entry-postit-font-size);
				line-height: var(--block--entry-postit-line-height);
			}

			&-postit {
				display: inline-block;
				padding: var(--block--entry-postit-padding);

				+.c-adb-list__entry-postit {
					margin-left: var(--block--entry-postit-spacing);
				}

				&--parkpartner {
					color: var(--block--entry-parkpartner-color);
					background-color: var(--block--entry-parkpartner-background-color);
				}

				&--parkevent {
					color: var(--block--entry-parkevent-color);
					background-color: var(--block--entry-parkevent-background-color);
				}

				&--tipp {
					color: var(--block--entry-hint-color);
					background-color: var(--block--entry-hint-background-color);
				}
			}

			&-title {
				font-size: var(--block--entry-title-size);
				line-height: var(--block--entry-title-line-height);
				font-weight: var(--block--entry-title-weight);

				a {
					text-decoration: none !important;
					color: currentColor !important;
					font-weight: inherit !important;
					font-size: 1em;
				}
			}

			.categories {
				display: none;
			}

			.cf {
				display: none;
			}

			.date {
				display: block;
				--stack-size: 0;
			}

			.date,
			.institution_location {
				text-transform: none;
				font-size: var(--block--entry-meta-size);
				line-height: var(--block--entry-meta-line-height);
				font-weight: var(--block--entry-meta-weight);
				color: var(--block--entry-meta-color);

				>* {
					margin-block-start: 0;
					margin-block-end: 0;
				}

				strong {
					font-weight: inherit;
				}
			}

			.description {
				padding-right: 24px;
				margin-block-end: var(--block--entry-header-margin-bottom);
			}

			.entry_link {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 1;
				--stack-size: 0;
			}

			.institution_location {
				--stack-size: 0;
			}

			.pictures {
				position: static;
				float: none;
				width: 100%;
				margin: 0;
				aspect-ratio: 3/2;
				overflow: hidden;
				margin-top: 0;
				margin-block-end: var(--block--entry-header-margin-bottom);
				order: -1;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}

			.placeholder_wrap {
				position: relative;
				height: 0;
				padding-bottom: percentage(calc(2 / 3));
				overflow: hidden;

				@supports (aspect-ratio: 3/2) {
					height: auto;
					padding-bottom: 0;
					aspect-ratio: 3/2;
				}

				.placeholder_image {
					position: absolute;
					transform: translate(-50%, -50%);
					left: 50%;
				}
			}

			.date_wrap {
				background-color: #dee2de;

				.date {
					color: var(--wp--preset--color--white);

					span:first-child {
						border-bottom-color: transparent;
					}
				}
			}

			.description {
				@extend .h-stack;
				--stack-size: 0;

				h3 {
					font-size: var(--block--entry-title-size);
					line-height: var(--block--entry-title-line-height);
					font-weight: var(--block--entry-title-weight);
					margin-block-end: var(--block--entry-header-margin-bottom);

					a {
						text-decoration: none !important;
						color: currentColor !important;
						font-weight: inherit !important;
						font-size: 1em;
					}
				}

				>p {
					display: none;
				}
			}

			.route_condition,
			.route_info,
			.offer_description {
				display: none;
				// font-size: var(--block--entry-description-size);
				// line-height: var(--block--entry-description-line-height);
			}
		}

		&__entries {
			list-style: none;
			gap: var(--block--entries-row-gap);
			padding: 0;
			display: flex;
			flex-direction: column;

			@media screen and (min-width: 48rem) {
				display: grid;
				gap: var(--block--entries-column-gap) var(--block--entries-row-gap);
				grid-template-columns: repeat(3, minmax(0, 1fr));
			}

			@media screen and (min-width: 80rem) {
				grid-template-columns: repeat(4, minmax(0, 1fr));
			}
		}

		&__filter {
			*:not(i):not(.icon):not(.search_icon) {
				font-family: inherit !important;
			}

			.filter {
				input[name='filter[search]'] {
					font-weight: 400;
					color: var(--wp--preset--color--white);
					background-color: var(--wp--preset--color--softpetrol);
				}

				input[name='filter[submit]'] {
					background-color: var(--wp--preset--color--black);
					font-size: 1.25em;
					font-weight: 500;
					padding: 0.3em 0.5em;
				}

				.form_group h4 {
					font-size: 1rem;

					i,
					&:before {
						top: 50%;
						transform: translateY(-50%);
					}
				}

				.range_wrap {
					font-weight: 400;

					.range {
						.ui-slider-handle {
							border-color: var(--wp--preset--color--softpetrol);
						}

						.ui-slider-range {
							background-color: var(--wp--preset--color--softpetrol);
						}
					}

					.range_text {
						opacity: 0.6;
					}
				}

				.form_element {
					&.search {

						.icon,
						.search_icon {
							top: 50%;
							transform: translateY(-50%);
						}

						.search_icon {
							font-size: 1em;
							right: 0.75em;
							transform: translateY(-50%) scaleX(-1);
						}
					}

					label[for='date_start'] {
						font-size: 1em;
					}

					&.date_wrap {
						font-size: 1rem;

						input {
							font-size: 1em;
							padding: 5px 25px 5px 11px;
							border: 2px solid #dee2de;
							color: var(--wp--preset--color--black);
							background-color: var(--wp--preset--color--white);

							&:active,
							&:hover {
								color: var(--wp--preset--color--black) !important;
							}
						}
					}
				}

				.reset_link {
					font-weight: 500;
				}
			}
		}

		&__inner {
			--stack-size: var(--block--inner-stack-size);
		}

		&__loadbutton {
			grid-column: 1/-1;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: var(--block--loadbutton-padding);

			button {
				border: var(--block--loadbutton-border) !important;
				color: var(--block--loadbutton-color) !important;
				background-color: var(--block--loadbutton-background) !important;
				font-size: var(--block--loadbutton-size) !important;
				line-height: var(--block--loadbutton-line-height) !important;
				font-weight: var(--block--loadbutton-weight) !important;
			}
		}
	}
}