/**
 * Extra specificity to override Elementor styles
 **/

.shb-accordion {
	@extend .h-stack;
	--stack-size: 30px;

	.shb-accordion {
		&__entries {
			@extend .h-stack;
		}

		&__entry {
			@extend .h-stack;

			* {
				--stack-size: 20px;
			}

			&-content {
				@extend .h-stack;
			}

			&-title {
				font-size: 1.25rem;
				line-height: calc(26 / 20);
				font-family: var(--e-global-typography-primary-font-family);
				color: var(--e-global-color-primary);
				font-weight: var(--e-global-typography-secondary-font-weight);
				border-bottom: 3px solid var(--e-global-color-8234216);
				padding-bottom: var(--stack-size);
			}
		}

		&__title {
			font-size: 1.875rem;
			line-height: calc(36 / 30);
			font-family: var(--e-global-typography-primary-font-family);
			color: var(--e-global-color-primary);
			font-weight: var(--e-global-typography-secondary-font-weight);
		}
	}
}
