@import './stack';

// Block generic styles
@import './shb-accordion';

// Shared styles over multiple blocks
@import './c-adb-block';
@import './c-adb-list';
@import './c-offer-detail-box';

body.admin-bar .fancybox__toolbar.is-absolute {
	top: var(--wp-admin--admin-bar--height);
}

[data-fancybox] {
	cursor: pointer;
}

:root {
	--shp--scroll-margin-top: 120px;

	@media screen and (min-width: 64em) {
		--shp--scroll-margin-top: 150px;
	}
}

[id] {
	scroll-snap-margin-top: var(--shp--scroll-margin-top); // Safari
	scroll-margin-top: var(--shp--scroll-margin-top);
}
